name: GitHub-Profile-Summary-Cards

on:
  schedule: # 每24小时自动更新一次
    - cron: "0 0 * * *"
  workflow_dispatch: # 允许手动点击运行

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-cards
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3
      - uses: zhan-cm/github-profile-summary-cards@main
        env: # 这一步会自动生成卡片并推送到你的仓库
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          USERNAME: ${{ github.repository_owner }}
